<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>

  </ion-header>
  <div class="myDiv">
    <ion-grid [fixed]="true"
      [ngClass]="{'K1':keyboardSelected == 1, 'K2':keyboardSelected == 2, 'K3':keyboardSelected == 3}">
      <ion-row *ngFor="let value of [1,4,7]" class="ion-align-items-end">
        <ion-col><ion-button appLongPress (press)="setNumber(value)" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="setNumber(value)">{{value}}</ion-button></ion-col>
        <ion-col><ion-button appLongPress (press)="setNumber(value+1)" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="setNumber(value+1)">{{value +1}}</ion-button></ion-col>
        <ion-col><ion-button appLongPress (press)="setNumber(value+2)" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="setNumber(value+2)">{{value + 2}}</ion-button></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col class="transparentCell"> <ion-item class="myLabel">
            <ion-label>{{currentInsertedCode}}</ion-label>
          </ion-item></ion-col>
        <ion-col><ion-button appLongPress (press)="setNumber(0)" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="setNumber(0)">0</ion-button></ion-col>
        <ion-col class="transparentCell"> <ion-select aria-label="Keyboard size" (ionChange)="setKeyoboard($event)"
            interface="action-sheet" cancelText="Cancel" placeholder="Size">
            <ion-select-option value=1>Small</ion-select-option>
            <ion-select-option value=2>Medium</ion-select-option>
            <ion-select-option value=3>Large</ion-select-option>
          </ion-select></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col><ion-button appLongPress (press)="clearCode()" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="clearCode()">Clear</ion-button></ion-col>
        <ion-col><ion-button appLongPress (press)="verifyCode()" [delay]="300" ng-disabled="disableButton"
            [disabled]="disableButton" (mouseup)="verifyCode()">Ok</ion-button> </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>